/* manu */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Merienda', cursive;
  }
  
  .newnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
  }
  
  .newnav a {
    float: left;
   padding-top:15px;
   padding-bottom:20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
  }
  
  .newnav a:hover {
    background-color: rgba(221, 221, 221, 0);
    color: black;
  }
  
  
  .newnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .newnav a {display: none;}
    .newnav a.icon {
      float: right;
      display: block;
	  padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .newnav.responsive {position: relative;margin-bottom: 20px;background-color: brown;}
    .newnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
	  
    }
    .newnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-left: 10px;
	  font-size: 20px;
	  width: auto;
    }
  }

  /* nav */

  .topnav {
    overflow: hidden;
	background-color: #316560;
  
  }
  
  .topnav a {
    float: left;
    color: rgb(206, 185, 119);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	height: auto;
  }
  
  .topnav a:hover {
    background-color: #316560;
    color: rgb(224, 114, 114);
  }
  
  .topnav a.active {
    background-color: #75522b;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

h1{

    text-align: center;
    font-size: 40px;
	color: #2c7979;
	font-family: 'Merienda', cursive;
}

@media screen and (max-width: 480px) {
	 h1 {
        font-size: 27px;
		
	}
  }

h2 {

    color: #2c7979;
    font-size: 40px;
}


@media screen and (max-width: 480px) {
	h2 {
	   font-size: 27px;
	   
   }
 }

 


.responsive {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px black;
  }
/* unvisited link */
a:link {
	color: rgb(206, 185, 119);
	text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: rgb(206, 185, 119);
	text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
	color: rgb(170, 170, 170);
  }
  
  /* selected link */
  a:active {
	color: rgb(215, 245, 247);
  }

 /*content*/
.content_1{
	width: 100%;
	height: 400px;
	/* //background-color: #a4a67b; */
}
.contentbar{
	width: 95%;
	height: 400px;
	/* //background-color: #acbf8c; */
	margin: auto;
	position: relative;
	box-shadow: 0 2px 10px black;
}
.contentbar img{
	width: 100%;
	height: 400px;
	object-fit: cover;

}

.contentbar h1{
	text-align: center;
	color: #fff;
	position: absolute;
	top:50%;
	left: 20%;
	transform: translate(-50%,-50%);
	font-size: 40px; 
	padding: 5px;
	margin: 5px;
	padding-left: 180px;
	width: 1200px;

}

@media screen and (max-width: 480px) {
	.contentbar h1 {
        font-size: 15px;
		
	}
  }


 /* slide */
 div.slide-right {
	width:100%;
	overflow:hidden;
  }
  div.slide-right h1 {
	animation: 2s slide-right;
  }
  
  @keyframes slide-right {
	from {
	  margin-left: -100%;
	  width: 450%; 
	}
  
	to {
	  margin-left: 0%;
	  width: 250%;
	}
  }


  .btn {
	text-align: center;
	/*color: #fff;*/
	border: none;
    position: absolute;
    top: 68%;
    left: 18%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 120px;
    box-shadow: 1px 2px 10px #5a5a5a;
    border-radius: 10px;
    background-color: rgb(0 128 128);
	

}
.btn:hover {
	background-color: #1e5053;
	color: white;
  }
.btn a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	color: white;
	font-family: 'Merienda', cursive;

}


body {
    background: rgba(85, 85, 85, 0);
  }
  
  .content {
    max-width: 1300px;
    margin: auto;
    background: rgb(253, 246, 213);
    padding: 10px;
    font-size: 25px;
  }

  
.right_index {
    width: 100%;
    height: 470px;
    margin: 5px;
    float: right;
    /* border: 2px solid green; */
    font-size: 30px;
    text-align: justify;
}

@media screen and (max-width: 480px) {
	.right_index  {
        height: 670px;
	}
  }


p {

    font-size: 25px;
}
@media screen and (max-width: 480px) {
	p {
	   font-size: 15px;
	   
   }
 }

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: right;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
	  height: 200px;
    }
  }




  * {
    box-sizing: border-box;
  }
  
  


* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column2 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column2 {
      width: 100%;
    }
  }




  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row3:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column3 {
      width: 100%;
    }
  }


  @media screen and (max-width: 600px) {
    .row3 {
      width: 100%;
    }
  }




  .content_7{
	height: 380px;
	/*background-color: #536c96;*/
	padding: 10px;
	/*border: 2PX solid blue;*/
	margin: 50px;
	margin-top: 150px;
}
.content_7 img{
	width: 100%;
	height: 380px;
	object-fit: cover;
    box-shadow: 0 0 10px black;
	
}
@media screen and (max-width: 480px) {
    .content_7 {
		margin: 30px;
    }
  }



  @media screen and (max-width: 480px) {
    .content_7 {
         margin-left: 10px;
         margin-right: 10px;
         margin-top: 0px;

     
   }
   }

   
  /* FOOTER */
 .footer {
	width: 100%;
	background-color: #316560;
	display: block;
    padding-bottom: 0px;
    padding-right: 0px;

 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #deb887;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #deb887;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #deb887;
	font-size: 20px;
	letter-spacing: 0.5px;	
  padding-left: 0%;
  font-family: 'Merienda', cursive;
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 25px 0;
	/* height: 25px; */
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.footer-bottom a{
  text-decoration: none;
  color: rgb(61, 116, 134);
  font-size:medium;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}